.home-wr {
    width: 100%;

    nav {
        position: fixed;
        z-index: 5;
        top: 0;
        width: 100%;
        height: 40px;
        background: #fff;
        font-size: 20px;
        display: grid;
        padding: 10px 0 0;
        grid-template-columns: auto auto auto;

        .logo {
            padding: 0 0 0 50px;
        }

        .nav-btns {
            justify-self: center;
        
            li {
                list-style: none;
                display: inline-block;
                margin: 0 50px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .user-bar {
            justify-self: right;
            padding: 0 50px 0 0;
        }
    }


    .landing-board {
        width: 100%;
        margin-top: 50px;
        height: 60vh;

        .landing-bg {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 60vh;
            opacity: .9;
            background: #3187f4;
        }

        img {
            width: 100%;
            height: 60vh;
            position: absolute;
            z-index: -2;
        }

        p {
            width: 50%;
            position: relative;
            left: 15%;
            top: 74px;
            font-size: 44px;
            color: #f5f5f5;
        }

        button {
            position: relative;
            left: 15%;
            top: 140px;
            border: none;
            width: 220px;
            height: 50px;
            color: #fff;
            background: #F75B4A;
            font-size: 22px;
        }

        
    }

    .doctors-wr {
        width: 80%;
        height: 1200px;
        margin: 0 auto;

        h1 {
            font-weight: 400;
            position: relative;
            margin: 30px 6.5% 0 ; 
        }

        .cards-wr {
            display: grid;
            grid-template-columns: auto auto auto;

            .doc-card {
                margin: 30px 0; 
                width: 325px;
                height: 500px;
                justify-self: center;
                background: #f5f5f5;
                box-shadow: 4px 4px 4px rgba(75, 75, 75, 0.25  );
                display: inline-block;

                img {
                    width: 100%;
                    height: 250px;
                    position: relative;
                    top: 0;
                    left: 0;
                }

                p {
                    margin: 13px 0;
                    text-align: center;
                    font-size: 18px;
                }

                span {
                    color: #777
                }

                .doc-name {
                    font-size: 22px;
                }

                .contact-doc {
                    width: 80%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: 33% 33% 33%;
                        
                    .more-info {
                        justify-self: center;
                        width: 70px;
                        height: 40px;
                        border: none;
                        background-color: #3187f4;
                        border-radius: 10px;
                        color: #fff
                    }
                }
            }
        }
    }
}